version: 2

workflows:
  version: 2
  test:
    jobs:
      - run_tests
  deploy:
    jobs:
      - run_tests:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
      - run_deploy:
          requires:
            - run_tests
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
jobs:
  run_tests:
    machine:
      image: ubuntu-2004:current
    steps:
      - checkout
      - restore_cache:
          keys:
            - gem-cache-v3-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
            - gem-cache-v3-{{ arch }}-{{ .Branch }}
            - gem-cache-v3
      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.29.2/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - run:
          name: Build the app
          command: make up
      - save_cache:
          key: gem-cache-v3-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
          paths:
              - vendor/bundle
      - run:
          name: Install Solr Documents
          command: make load-data
      - run:
          name: Run relevancy Tests
          command: make test
  run_deploy:
    docker:
      - image: cimg/python:3.7.11
        environment:
          PIPENV_VENV_IN_PROJECT: true
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "17:e6:22:64:80:ff:b5:27:08:53:b2:c9:84:f7:b2:10"
      - run:
          name: Build configuration asset
          command: bash .circleci/build.sh
      - run:
          name: Deploy configuration asset to SolrCloud
          command: bash .circleci/deploy.sh
